<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Average Sale by Product for 4-Year Intervals</title>
</head>
<body>
<h1>Average Sale by Product for 4-Year Intervals</h1>
<table border="1px">
    <tr>
        <th>Product</th>
        <th>4-Year Interval</th>
        <th>Average Sale</th>
    </tr>
    <tr th:each="entry : ${averageSales}">
        <td th:text="${entry[0]}">Product</td>
        <td th:text="${entry[1]}">4-Year Interval</td>
        <td th:text="${entry[2]}">Average Sale</td>
    </tr>
</table>
</body>
</html>
